html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.company {
  margin-bottom: 163px;
}
.company-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 32px;
  color: #696984;
}
.company-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 76px;
}

.introduce {
  margin-bottom: 158px;
}
.introduce-header {
  max-width: 870px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 103px;
}
.introduce-list {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
.introduce-item {
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
  padding: 0 54px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.introduce-icon {
  width: 100px;
  height: 100px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  margin-bottom: 40px;
}
.introduce-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
  color: #2f327d;
  margin-bottom: 24px;
}
.introduce-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: #696984;
}

.header {
  margin-bottom: 100px;
  background-color: #fff2e1;
  overflow: hidden;
  clip-path: ellipse(100% 100% at top);
}
.header-container {
  max-width: 1725px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.header-top {
  padding-top: 60px;
  display: flex;
  align-items: center;
  padding-bottom: 83px;
}
.header-buttons {
  margin-left: 80px;
  display: flex;
  align-items: center;
  gap: 0 34px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 57px;
}
.header-heading {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 34px;
  line-height: 1.5;
  color: #f48c06;
}
.header-heading span {
  color: #2f327d;
}
.header-desc {
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 52px;
  color: #464646;
}
.header-action {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.header-action .btn--primary {
  padding: 22px 38px;
}

.menu {
  margin-left: auto;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 80px;
}
.menu-link {
  color: inherit;
}

.watch {
  display: flex;
  align-items: center;
  gap: 0 32px;
  font-size: 24px;
  line-height: 1.5;
  color: inherit;
}
.watch-icon {
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  background: white;
  box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 22px;
  color: #252641;
  font-weight: 400;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  padding: 13px 50px;
  border: 0;
  outline: none;
  border-radius: 100rem;
  cursor: pointer;
}
.btn--white {
  background-color: white;
  color: #6c6c6c;
}
.btn--primary {
  background-color: #f48c06;
  color: white;
}

.global-heading {
  color: #f48c06;
  margin-bottom: 20px;
}
.global-heading span {
  color: #2f327d;
}
.global-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
  color: gray;
}

.bg-purple {
  background-color: #5b72ee;
}

.bg-secondary {
  background-color: #f48c06;
}

.bg-third {
  background-color: #65daff;
}

.about {
  padding: 0 15px;
  max-width: 1330px;
  margin: 0 auto 160px;
}
.about-header {
  text-align: center;
  margin: 0 auto 80px;
  max-width: 1110px;
}
.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 100px;
}
.about-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.about-image {
  width: 100%;
  height: 100%;
}
.about-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(23, 27, 65, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}
.about-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 17px;
}
.about-student {
  background: rgba(35, 189, 238, 0.9);
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  padding: 24px 38px;
}
.about .btn--outline {
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  padding: 24px 38px;
  border: 1px solid currentColor;
}

.youcan {
  max-width: 1580px;
  padding: 0 15px;
  margin: 0 auto 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 67px;
}
.youcan > * {
  width: 50%;
}
.youcan-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  margin-bottom: 30px;
}
.youcan-desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}
.youcan-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  text-decoration-line: underline;
}
.youcan-image {
  position: relative;
}
.youcan-play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 10;
  cursor: pointer;
}

.feature {
  max-width: 1610px;
  padding: 0 15px;
  margin: 0 auto 160px;
}
.feature-header {
  text-align: center;
  margin-bottom: 100px;
}
.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 180%;
  margin-bottom: 20px;
}
.feature-desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
}
.feature .user {
  max-width: 1580px;
  margin: 0 auto 160px;
  display: flex;
  justify-content: space-between;
}
.feature .user-img {
  width: 896px;
  height: 522px;
}
.feature .user-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 160%;
  max-width: 542px;
  margin-bottom: 50px;
}
.feature .user-item {
  display: flex;
  align-items: center;
  gap: 42px;
  margin-bottom: 40px;
  max-width: 443px;
}
.feature .user-icon {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  background: #fbfbfb;
  box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature .user-iconimg {
  display: block;
  max-width: 100%;
}
.feature .user-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  letter-spacing: 0.02em;
}

/*# sourceMappingURL=app.css.map */
