.header {
  margin-bottom: 100px;
  background-color: $yellow;
  overflow: hidden;
  clip-path: ellipse(100% 100% at top);
  // cái này có thể dùng web clip-path để cắt:https://bennettfeely.com/clippy/
  &-container {
    max-width: 1725px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  &-top {
    padding-top: 60px;
    display: flex;
    align-items: center;
    padding-bottom: 83px;
  }
  &-buttons {
    margin-left: 80px;
    display: flex;
    align-items: center;
    gap: 0 34px;
  }
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 57px;
  }
  &-heading {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 34px;
    line-height: calc(81 / 54);
    color: $secondary-color;
    span {
      color: $primary-color;
    }
  }
  &-desc {
    font-size: 24px;
    line-height: 160%;
    margin-bottom: 52px;
    color: $gray-dark;
  }
  &-action {
    display: flex;
    align-items: center;
    gap: 0 40px;
    .btn--primary {
      padding: 22px 38px;
    }
  }
}

.menu {
  margin-left: auto;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 80px;
  &-link {
    color: inherit;
  }
}

.watch {
  display: flex;
  align-items: center;
  gap: 0 32px;
  font-size: 24px;
  line-height: calc(36 / 24);
  color: inherit;
  &-icon {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background: white;
    box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
